<div class="row w-100 mb-2 justify-content-between">
    <h4>Rooms</h4>
    <button class="btn btn-success rounded-pill" style="width: 100px;" (click)="showModal('#modalAddNewRoom')"><i class="fa fa-plus"></i> New</button>
</div>
<hr>
<div class="row w-100">
    <div class="card" style="width: 200px; height: 200px;" *ngFor="let room of rooms">
        <img class="card-img" [src]="room.photos[0]" alt="" style="width: inherit; height: inherit; object-fit: cover;">
        <h6 class="card-header">{{room.name}}</h6>
    </div>
</div>
<app-room-form (createdRoom)="fetchRoom()"></app-room-form>