<nav class="navbar navbar-expand-md navbar-light bg-secondary fixed-top">
    <a class="navbar-brand" [routerLink]="['/hotel']">Home</a>
    <button class="navbar-toggler bg-white" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a [routerLink]="['/hotel/create']" class="nav-link "><i class="fa fa-plus "></i> New Hotel</a>
            </li>
            <li class="nav-item">
                <a routerLink="/sign-in" class="nav-link"><i class="fa fa-sign-in"></i> Sign In</a>
            </li>
        </ul>
    </div>
</nav>