<section class="row justify-content-center align-content-center">
    <div *ngIf="errorMessage" class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>{{errorMessage}}</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="w-100"></div>
    <div class="col-md-4 border border-green">
        <h3 class="text-center">Sign-In</h3>
        <hr>
        <form (ngSubmit)="signIn(signInForm)" #signInForm="ngForm">
            <div class="form-group">
                <label for="">Login ID</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fa fa-user"></i>
                        </div>
                    </div>
                    <input type="id" placeholder="Enter Login ID" class="form-control" ngModel name="login"
                        required>
                </div>
            </div>
            <div class="form-group">
                <label for="">Password</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fa fa-key"></i>
                        </div>
                    </div>
                    <input type="password" placeholder="Enter your password" class="form-control" ngModel password
                        name="password" required #password="ngModel">
                </div>
                <span *ngIf="password.errors?.password" class="text-danger">Wrong is password</span><br>
                <span *ngIf="password.invalid && password.touched" class="text-danger">password is required</span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-block btn-primary" [disabled]="!signInForm.valid">SignIn</button>
            </div>
        </form>
    </div>
</section>