<div class="row w-100 mb-4 justify-content-center">
   <div class="col-lg-10">
    <div class="media border rounded border-gray shadow-sm mb-2 p-2" 
        *ngFor="let hotel of hotels"
        [routerLink]="['./', hotel.code]">
        <img class="hotel-image" [src]="hotel.photos[0]" alt="">
        <div class="media-body ml-4">
            <h3>{{hotel.name}}</h3>
            <p>Rank: {{getRankStar(hotel.ranking)}}</p>
            <p>Location: {{hotel.location}}</p>
            <p>Phone : 0912345678</p>
            <p>Email : <a href="mailto:hotel51@gmail.com">hotel51@gmail.com</a></p>
        </div>
    </div>
   </div>
</div>