<div class="row w-100 justify-content-between">
    <h3>Room Type</h3>
    <button *ngIf="authService.isLogin" class="btn btn-success rounded-pill new-btn" [routerLink]="['./room-type/new']"
        [state]="{hotel: hotel}"><i class="fa fa-plus"></i> New</button>
</div>
<hr/>
<div class="row">
    <table class="table table-bordered table-hover">
        <thead class="thead-light">
            <tr class="text-center">
                <th>Name</th>
                <th>Bed Type</th>
                <th>Total Beds</th>
                <th>Detail</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let type of roomTypes">
                <td class="text-capitalize">{{type.name}}</td>
                <td class="text-capitalize">{{type.bedType}}</td>
                <td class="text-right">{{type.beds}}</td>
                <td class="text-center"><a (click)="showDetail(type)" style="cursor: pointer; color: blue;">View</a></td>
            </tr>
        </tbody>
    </table>
</div>
<app-room-type-detail [roomType]="currentRoomType"></app-room-type-detail>