<div class="row w-100 justify-content-between">
    <h3>Building List</h3>
    <button class="btn btn-success rounded-pill" style="width: 100px;" [routerLink]="['/building']" [state]="{hotel: hotel}"><i class="fa fa-plus"></i> New</button>
</div>
<hr>
<div class="row w-100">
    <div class="card " *ngFor="let b of buildings" [routerLink]="['/building', b.code, 'floor']" [state]="{building: b}">
        <div class="card-body">
            <div class="row w-100 justify-content-between">
                <h5 class="ml-2">{{b.name}}</h5>
                <span [routerLink]="['./building/new']" [state]="{building: b}"><i class="fa fa-edit"></i> </span>
            </div>
            <p>{{b.type}}</p>
        </div>
    </div>
</div>