<footer class="w-100 px-5 py-3 bg-secondary">
   <div class="row justify-content-center">
      <h4 class="text-uppercase">contact us</h4>
   </div>
   <div class="row contact">
      <div class="col-lg-6">
         <p><i class="fa fa-phone"></i> Contact : 09782022588, 09782022588</p>
         <p><i class="fa fa-envelope"></i> Email : <a href="mailto:hotel51@gmail.com">hotel51@gmail.com</a></p>
      </div>
   </div>
   <div class="row justify-content-center">
      <div class="col-lg-5">
         <ul class="list-unstyled list-inline text-center">
            <li class="list-inline-item">
               <a class="btn-floating btn-sm rgba-white-slight mx-1" href="https://www.facebook.com/">
                  <i class="fa fa-facebook-square fa-2x "></i>
               </a>
            </li>
            <li class="list-inline-item">
               <a class="btn-floating btn-sm rgba-white-slight mx-1" href="https://www.twitter.com/">
                  <i class="fa fa-twitter-square fa-2x"></i>
               </a>
            </li>
            <li class="list-inline-item">
               <a class="btn-floating btn-sm rgba-white-slight mx-1" href="https://www.youtube.com/">
                  <i class="fa fa-youtube-square fa-2x"></i>
               </a>
            </li>
            <li class="list-inline-item">
               <a class="btn-floating btn-sm rgba-white-slight mx-1" href="https://www.instagram.com/">
                  <i class="fa fa-instagram fa-2x"></i>
               </a>
            </li>
         
            <li class="list-inline-item">
               <a class="btn-floating btn-sm rgba-white-slight mx-1" href="https://www.google.com/">
                  <i class="fa fa-google-plus-circle fa-2x"></i>
               </a>
            </li>
            <li class="list-inline-item">
               <a class="btn-floating btn-sm rgba-white-slight mx-1" href="https://www.linkedin.com/">
                  <i class="fa fa-linkedin fa-2x"></i>
               </a>
            </li>
         </ul>
         <div class="text-center">
            <p>Proudly Created By SOLT Enginnering Co.Ltd</p>
            <p><i class="fa fa-copyright"></i> Copyright by 2021</p>
         </div>
      </div>
   </div>
</footer>