<div class="row w-100">
    <div class="col-lg-8">
        <h4>New Building</h4>
        <hr>
        <form #f="ngForm">
            <div class="form-group">
                <label for="">Hotel</label>
                <input type="text" class="form-control" [value]="hotel.name" disabled>
            </div>
            <div class="form-group">
                <label for="">Name</label>
                <input type="text" class="form-control" [ngModel]="building?.name" name="name">
            </div>
            <div class="form-group">
                <label for="">Type</label>
                <input type="text" class="form-control" [ngModel]="building?.type" name="type">
            </div>
            <div class="form-group">
                <label for="">Number Of Floor</label>
                <input type="number" class="form-control" ngModel name="floor">
            </div>
            <div class="form-group">
                <button class="btn btn-block btn-success" (click)="save(f.value)">Save</button>
            </div>
        </form>
    </div>
</div>