    <div class="row w-100">
        <div class="col-md-6">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item" [ngClass]="{active: i === 0}" *ngFor="let photo of hotel.photos; let i=index">
                        <img [src]="photo" class="d-block w-100" alt="" id="hotel-detail-image">
                    </div>
                </div>
                <a class="carousel-control-prev mr-5" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row justify-content-between">
                <h3>{{hotel.name}} <span style="font-size: 16px;">{{getRankStar(hotel.ranking)}}</span></h3><br>
                <button class="btn btn-success" routerLink="/hotel-management">Manage</button>
            </div>
            <h3 class="mb-2">Hotel Description</h3>
            <hr>
            <p>{{hotel.description}}</p>

            <h3 class="mt-2">Hotel Facilities</h3>
            <hr>
            <i class="fa fa-check"> Comfortable</i><br>
            <i class="fa fa-check"> Balcony</i><br>
            <i class="fa fa-check"> Near Transportation Stations</i><br>
            <i class="fa fa-check"> Fair Prices</i><br>
            <i class="fa fa-check"> Local Number 1</i><br>
            <i class="fa fa-check"> Best Customer Reviews</i>
        </div>
    </div>
   
    <!--------------------------------    Rooms Detail   ------------------------------>
    <div class=" table table-borderless ">
        <h2>
            <Strong>Room List</Strong>
        </h2>
        <br>
        <div class=" row ">
            <div class="col-md-2 ">
                <div class="row ">
                    <div><i class="fa fa-male fa-2x ml-1 "></i></div>
                    <div><i class="fa fa-male fa-2x ml-1 "></i></div>
                    <div><i class="fa fa-male fa-2x ml-1 "></i></div>
                    <div><i class="fa fa-male fa-2x ml-1 "></i></div>
                </div>
            </div>
            <div class="col-md-8 ">
                <div class=" ">
                    <strong>Double King-size beds for 4 people.</strong><br><br>
                    <span>Lorem ipsum dolor sit amet consectetur adipisicing
                        elit. In eius quas expedita aliquid culpa? Eaque
                        repudiandae consequatur dolor vel quos ex explicabo!
                        Voluptas labore, maxime ab cumque velit adipisci
                        aliquam!</span><br>
                    <div class="mt-3">
                        <a href=" "> View this room <i class="fa fa-long-arrow-right "></i></a>
                    </div>
                    <hr>
                </div>
            </div>
            <div class="col-md-2 ">
                <button class="btn btn-block btn-secondary ">Show Prices</button>
            </div>
        </div>
        <br>
        <div class="row ">
            <div class="col-md-2 ">
                <div class="row ">
                    <div><i class="fa fa-male fa-2x ml-1 "></i></div>
                    <div><i class="fa fa-male fa-2x ml-1 "></i></div>
                </div>
            </div>
            <div class="col-md-8 ">
                <div class=" ">
                    <strong>Master bed for 2 people.</strong><br><br>
                    <span>Lorem ipsum dolor sit amet consectetur adipisicing
                        elit. In eius quas expedita aliquid culpa? Eaque
                        repudiandae consequatur dolor vel quos ex explicabo!
                        Voluptas labore, maxime ab cumque velit adipisci
                        aliquam!</span><br>
                    <div class="mt-3">
                        <a href=" "> View this room <i class="fa fa-long-arrow-right "></i></a>
                    </div>
                    <hr>
                </div>
            </div>
            <div class="col-md-2 ">
                <button class="btn btn-block btn-secondary ">Show Prices</button>
            </div>
        </div>
    </div>
    <div class="row ">
        <div class="col-md-2 ">
            <div class="row ">
                <div><i class="fa fa-male fa-2x ml-1 "></i></div>
                <div><i class="fa fa-female fa-2x ml-1 "></i></div>
                <div><i class="fa fa-child fa-2x ml-1 "></i></div>
            </div>
        </div>
        <div class="col-md-8 ">
            <div class=" ">
                <strong>Master bed plus single bed for family</strong><br><br>
                <span>Lorem ipsum dolor sit amet consectetur adipisicing
                    elit. In eius quas expedita aliquid culpa? Eaque
                    repudiandae consequatur dolor vel quos ex explicabo!
                    Voluptas labore, maxime ab cumque velit adipisci
                    aliquam!</span><br>
                <div class="mt-3">
                    <a href=""> View this room <i class="fa fa-long-arrow-right "></i></a>
                </div>
                <hr>
            </div>
        </div>
        <div class="col-md-2 ">
            <button class="btn btn-block btn-secondary ">Show Prices</button>
        </div>
    </div>


