<div class="container">
    <div class="row w-100 justify-content-center">
        <h2 class="w-75 p-2 border border-dark shadow-sm rounded text-center text-capitalize">{{hotel.name}}</h2>
    </div>
    <hr>
    <div class="row w-100">
        <div class="col-lg-5">
            <div id="hotelImageControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item" [ngClass]="{'active': i == 0}"
                        *ngFor="let photo of hotel.photos; let i=index">
                        <img class="d-block w-100" [src]="photo" alt="">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#hotelImageControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#hotelImageControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            <div class="mt-3">
                <p><strong>Rank : </strong> {{getRankStar(hotel.ranking)}}</p>
                <p><strong>Location : </strong> {{hotel.location}}</p>
            </div>
        </div>
        <div class="col-lg-7">
            <p class="description text-justify">{{hotel.description}}</p>
        </div>
    </div>
    <div class="row w-100">
        <h3>Hotel Facilities</h3>
    </div>
    <hr>
    <div class="row">
        <div class="col-lg-4" *ngFor="let hfc of hotel.facilities">
            <h5>{{hfc.title}}</h5>
            <ul>
                <li *ngFor="let fc of hfc.facilities">{{fc}}</li>
            </ul>
        </div>
    </div>

    <app-room-type [hotel]="hotel"></app-room-type>
    <app-building [hotel]="hotel" *ngIf="authService.isLogin"></app-building>
</div>