<div class="row justify-content-center mt-3">
    <div *ngIf="photos.length > 0" class="hotel-image mb-2">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item" [ngClass]="{'active': i === 0}" *ngFor="let photo of photos; let i=index">
                    <img class="d-block w-100" [src]="photo" alt="i">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <div class="w-100"></div>
    <div class="col-md-8 col-lg-5">
        <form [formGroup]="hotelForm">
            <div class="form-group">
                <label for="">Name</label>
                <input type="text" class="form-control" formControlName="name">
            </div>
            <div class="form-row mb-2">
                <div class="col-md-8">
                    <label for="">Photos</label>
                    <input type="file" class="form-control-file" accept="image/*" multiple (change)="preview(fc.files)"
                        #fc>
                </div>
                <div class="col-md-4">
                    <label for="">Ranking</label>
                    <input type="number" class="form-control" formControlName="ranking">
                </div>
            </div>

            <div class="form-group">
                <label for="">Description</label>
                <textarea name="" id="" cols="30" rows="5" class="form-control" formControlName="description"
                    required></textarea>
            </div>

            <div class="form-group">
                <label for="">Location</label>
                <input type="text" class="form-control" formControlName="location">
            </div>

            <div formArrayName="facilities">
                <div class="form-row mb-2">
                    <label class="mr-auto">Hotel Facilities</label>
                    <span (click)="addFacility()"><i
                            class="fa fa-plus border rounded border-green p-2 mr-1 bg-success text-white"></i></span>
                </div>
                <div class="card mb-2" *ngFor="let hfc of hotelFacilities.controls;  let parentIndex=index;"
                    [formGroupName]="parentIndex">
                    <div class="form-row p-2">
                        <div class="col-1 offset-11">
                            <span (click)="removeFacility(parentIndex)"><i class="fa fa-times"></i></span>
                        </div>
                        <div class="col-6">
                            <label for="">Title</label>
                            <input type="text" class="form-control" formControlName="title">
                        </div>
                        <div class="col-6">
                            <label for="">Facility Logo</label>
                            <input type="text" class="form-control" formControlName="logo">
                        </div>
                        <div class="col-12" formArrayName="facilities">
                            <button class="btn btn-primary my-2" (click)="addSubFacility(parentIndex)">Add
                                Facitity</button>
                            <div class="row no-gutters mb-2"
                                *ngFor="let sfc of subFacilities(parentIndex).controls; let childIndex=index">
                                <div class="col-10 mr-1">
                                    <input type="text" class="form-control" [formControlName]="childIndex">
                                </div>
                                <div class="col-1">
                                    <button class="btn btn-danger"
                                        (click)="removeSubFacility(parentIndex, childIndex)">&times;</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="form-group">
                <button class="btn btn-primary btn-block" (click)="save(fc.files)">Save</button>
            </div>

        </form>

    </div>

</div>