<div class="jumbotron">
    <div class="row w-100">
        <div class="col-lg-3 offset-1">
            <ul class="list-group">
                <li class="list-group-item"><a href="" class=" list-group-item-action">Room</a></li>
                <li class="list-group-item"><a [routerLink]="['./building']" class=" list-group-item-action">Building</a></li>
                <li class="list-group-item"><a href="" class=" list-group-item-action">Room Type</a></li>
            </ul>
        </div>
        <div class="col-lg-7">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>