<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4 border border-green">
            <h3 class="text-center">{{account ? 'Update' : 'Create New'}} Account</h3>
            <hr>
            <form (ngSubmit)="singup(signUpForm)" #signUpForm="ngForm">
                <div class="form-group">
                    <label for="">Login ID</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <i class="fa fa-user"></i>
                            </div>
                        </div>
                        <input type="id" placeholder="Enter your LoginID" class="form-control" [ngModel]="account?.login" name="login"
                            required [disabled]="account">
                    </div>
                </div>

                <div class="form-group">
                    <label for="">Password</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <i class="fa fa-key"></i>
                            </div>
                        </div>
                        <input type="password" placeholder="Enter your password" class="form-control" ngModel password
                            name="password" required #password="ngModel">
                    </div>
                    <span *ngIf="password.invalid && password.touched" class="text-danger">password is required</span>
                </div>
                <div class="form-group">
                    <label for="">Role</label>
                    <select name="" id="" class="form-control" [ngModel]="account?.role" name="role">
                        <option *ngFor="let role of roles" [value]="role" >{{role}}</option>
                    </select>
                </div>
                <div class="form-check mb-2" *ngIf="account">
                    <input type="checkbox" class="form-check-input" [ngModel]="account?.enable" name="enable">
                    <label for="" class="form-check-label">Enable</label>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-block btn-success" >Save</button>
                </div>
            </form>
        </div>
    </div>
</div>